.log
{
    background-color:orchid;
    width:30%;
    height:50%;
    display:block;
    position:absolute;
left:500px;
}
.log #d
{
    width:20%;
}
.log #c
{
    width:20%;
}
.a #d input[type="text"]{
    margin-left: 20px;
}