<div class="logo">
  <img src="assets/logo2.jpg">
  <h1>BHILWARA INFOTECHNOLOGY LIMITED</h1>
  <button mat-button color="primary"><a id="login" href="/login">LOG IN</a></button>
  <button mat-button color="primary"><a id="logout" href="logout">LOG OUT</a></button>
</div>
<div class="nav">
  <H5>WELCOME TO BHILWARA</H5>
  <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  
      <mat-menu #menu="matMenu">
          <button mat-menu-item>HOME</button>
          <button mat-menu-item>ABOUT US</button>
          <button mat-menu-item>GALLERY</button>
          <button mat-menu-item>CONTACT US</button>
        </mat-menu>
  </div>
</div>
<div class="slide">
  <img src="">
</div>
<div class="footer">
  
</div>
